@charset "UTF-9";

@font-face {
    font-family: 'Passion One';
    src: url(fontes/Passion_One/PassionOne-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha/Sriracha-Regular.ttf) format(truetype);
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte1);
    min-height: 100vn;
    background-color: darkgrey;
}
 
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    /*text-transform: uppercase;tudo maiusculo*/
}
header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}
  
section.normal {
    background-color: white;
    color: black;
}


section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.616);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.336);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(https://p77-sign-va.tiktokcdn.com/tos-maliva-avt-0068/6ae1811c0c7dc1c2fb1b6639ddc706db~c5_1080x1080.jpeg?lk3s=a5d48078&nonce=20360&refresh_token=ce1f74b418486313d345e90427e1793c&x-expires=1735563600&x-signature=rxMkNXkThuVSjku4%2F9Q2oCeuoms%3D&shp=a5d48078&shcp=81f88b70);
    background-position: top center;
}

section#img02 {
    background-image: url(https://scontent.fmcz1-1.fna.fbcdn.net/v/t39.30808-6/462224933_122182386746200799_3218466674908711055_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFEffuR74Ol2gctU6gOmO8AIupEJeodXaoi6kQl6h1dqnjLH6LQ4PruGScXf8ajjcYBYqyTAYlTkHFw4SFDwEBy&_nc_ohc=FN5dsjtLMB4Q7kNvgGH7zQZ&_nc_zt=23&_nc_ht=scontent.fmcz1-1.fna&_nc_gid=A6BjoVoK5K37eHcHXTndWaC&oh=00_AYCX3evpoi_VI6yJJo8Fokzni-UobpBw1BU6bTXO7Jhicw&oe=6775F136);
    background-position: top center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}